:root {
  --color-main-text: #ebe6dc;
  --color-bg-radiant-gold: #ffc300;
  --color-bg-hover-gold: #eec903;
  --color-bg-active-gold: #d1a408;
  --color-bg-active-sandstone: #e6d8b6;
  --color-bg-active-pale-pink: #ffc0cb;
  --color-bg-active-khaki: #f0e68c;
  --color-bg-active-pale-gold: #eee8aa;
  --color-bg-active-dark-brown: #654321;
  --color-ui-blue-green: #172429;
  --color-ui-blue-green-semi-transparents: #172429ce;
  --color-ui-blue-green-transparent: #17242969;
  --color-ui-lighter: #293a4e;
  --color-ui-lighter-lighter: #3c4b62;
  --color-ui-lighter-lighter-lighter: #4f5a76;
}

body {
  margin: 0 0 0 250px;
  height: 100%;
  font-family: "Cinzel", serif;
  color: var(--color-main-text);
  background-color: var(--color-ui-blue-green);
  background-image: linear-gradient(
    135deg,
    var(--color-ui-blue-green) 0%,
    var(--color-ui-lighter) 100%
  );
}

body.welcome-page {
  background-image: url("/assets/images/backgrounds/ghiblibackground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Add this line to keep the background fixed during scrolling */
  background-size: cover;
  height: 100%; /* Add this line to make the body take the full height of the viewport */
  margin: 0; /* Add this line to remove default margin */
  overflow: auto; /* Add this line to enable scrolling for content that overflows the viewport */
}

header {
  display: flex;
  position: absolute;
  left: 270px;
  height: 50px;
  width: 85%;
  align-items: center;
  padding: 1rem;
  color: var(--color-bg-active-dark-brown);
  background-color: var(--color-bg-active-sandstone);
  border-right: 3px solid var(--color-bg-active-gold);
  border-bottom: 3px solid var(--color-bg-active-gold);
  border-left: 3px solid var(--color-bg-active-gold);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.header-content {
  position: relative;
}

.dropbtn {
  background-image: url(../assets/icons/ui-icons/2x/button@2x.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: end;
  max-width: 120px;
  padding: 10px 15px 25px 15px;
  margin-right: 5px;
  font-size: small;
  max-height: 5px;
  position: relative;
}

.dropbtn:hover {
  background-color: transparent;
  opacity: 75%;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: var(--color-bg-active-dark-brown);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 200px;
  align-content: initial;
  align-items: self-end;
  left: -65px;
  top: 45px;
}

.dropdownButton {
  background-color: var(--color-bg-active-sandstone);
  color: var(--color-bg-active-dark-brown);
  border-radius: 0;
  text-align: left;
}

.dropdownButton:hover {
  background-color: var(--color-ui-lighter);
  color: var(--color-bg-active-sandstone);
}

.show {
  display: block;
}

html {
  height: 100%;
}

.character-info-container.collapsed {
  display: none;
}

.toggle-button {
  background-color: var(--color-bg-active-gold);
  border: none;
  cursor: pointer;
}

.toggle-button i {
  transition: transform 0.3s ease-in-out;
}

.toggle-button.collapsed i {
  transform: rotate(180deg);
}

/* Basic CSS for the hidden divs */
.hidden-div {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#openCharacterCreation,
#showCharacters {
  background-image: url(../assets/icons/ui-icons/2x/button@2x.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.5);
}

#openCharacterCreation:hover,
#showCharacters:hover {
  opacity: 0.75;
}

button {
  font-family: "Cinzel", serif;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-bg-hover-gold);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-bg-dark-hunter-green);
}

.hidden {
  display: none;
}

.warm-ambient-light {
  box-shadow: 0 0 10px 5px rgba(255, 175, 100, 0.5);
}

.btn-primary {
  background-color: var(--color-bg-active-gold);
  border-color: var(--color-bg-active-gold);
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;
}

.welcome-container {
  height: auto; /* Make the container expand based on content */
  display: flex; /* Use a flex container to center the form vertically */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center the form vertically */
  align-items: center; /* Center the form horizontally */
  padding: 1rem; /* Add some padding to prevent content from sticking to the edges */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-bg-active-dark-brown);
  border: 2px solid var(--color-bg-active-dark-brown);
  border-radius: 10px;
  background-color: var(--color-bg-active-sandstone);
  margin-bottom: 100px;
}

.btn-primary:hover {
  background-color: var(--color-bg-hover-gold);
  border-color: var(--color-bg-hover-gold);
  color: #ffffff;
  text-decoration: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 195, 0, 0.25);
}

.btn-primary:active {
  background-color: var(--color-bg-active-gold);
  border-color: var(--color-bg-active-gold);
  color: #ffffff;
}

.character-info-col1,
.character-info-col2 {
  display: contents;
  font-size: small;
  font-weight: bold;
}

.character-info-col2 {
  margin-left: auto;
}

.character-info span {
  margin: 0 0.5rem;
}

.character-level,
.character-name {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-bg-active-gold);
}

nav {
  position: relative;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: var(--color-main-text);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-ui-blue-green);
  background-image: linear-gradient(
    135deg,
    var(--color-ui-blue-green) 0%,
    var(--color-ui-lighter) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-screen h1 {
  color: #ffffff;
  font-size: 2rem;
}

nav ul li a,
.tab-content ul li {
  transition: all 0.3s ease;
}

.block-content {
  margin-top: 2rem;
}

nav ul li a.active,
nav ul li a:hover {
  text-decoration: none;
  color: var(--color-bg-active-gold);
}

.toast {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toast.show {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



#settings {
  display: grid;
  height: 100%;
}

#settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You can adjust this value depending on the parent container's height */
}

.row-deck {
  width: 100%; /* To make sure the row takes the full available width */
}

.nav-main-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-bg-active-gold);
  margin-top: 0.5rem;
}

.nav-main-link {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.nav-main-item.combat {
  background-image: url(../assets/icons/ui-icons/2x/button\ 2_1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.5);
}

.nav-main-item.non-combat {
  background-image: url(../assets/icons/ui-icons/2x/button\ 2_1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.5);
}

.nav-img {
  margin-right: 0.5rem;
  background-image: url(../assets/icons/skill-icons/attack.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10px 20px 0;
}

/* .attack-icon {
  background-image: url(../assets/icons/skill-icons/attack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px 20px 0;
} */

.nav-main-link-name {
  flex: 0 0 auto;
  font-size: 0.83rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav-main-link small {
  flex: 1 1 auto;
  text-align: right;
  margin-left: 20px;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
}

#gameCanvas {
  position: fixed;
  top: 50px;
  left: 300px;
  max-width: 82%;
}

#coveMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

main > * {
  margin-bottom: 1rem;
}

#game-logo {
  height: auto;
  width: 100%;
}

#inventoryView {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.inventory-item-image {
  display: flex;
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.inventory-item {
  border: 1px solid #ccc;
  width: 75px;
  height: 75px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.inventory-item-name {
  font-size: 0.5em;
  margin-bottom: 5px;
}

.inventory-item-quantity {
  font-size: 0.7em;
}

/* Tooltip container */
.item-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.item-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Tooltip image */
.tooltip-image {
  width: 40px;
  height: 40px;
}

/* Tooltip text */
.tooltip-text {
  font-size: 12px;
  margin-top: 10px;
}

/* Show tooltip on hover */
.inventory-item:hover .item-tooltip {
  visibility: visible;
  opacity: 1;
}

#progressBarPane {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  top: 50px;
  position: relative;
  height: 20px;
  z-index: -1;
}

#progressBar {
  width: 100%;
  height: 100%;
}

[id*="ProgressBarFill"] {
  height: 100%;
  background-color: green;
  width: 0%;
  transition: width 50ms linear;
}

.tab-content {
  padding: 5rem 5rem 1rem 1rem;
}

.tab-content ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.tab-content ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center center;
  background-color: var(--color-ui-blue-green);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-top: var(--color-bg-active-gold) 4px solid;
}

.tab-content ul li:hover {
  background-color: var(--color-bg-dark-hunter-green);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.tab-content ul li h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--color-bg-active-gold);
  text-shadow: 0 0 10px rgba(255, 175, 100, 0.5);
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-btn {
  flex: 1;
  background-color: var(--color-bg-light-hunter-green);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-btn:hover {
  background-color: var(--color-bg-dark-hunter-green);
}

.tab-btn.active {
  background-color: var(--color-bg-active-gold);
}

.form-content {
  position: relative;
  width: 100%;
}

.form {
  top: 0;
  left: 0;
  width: 100%;
}

#createCharacterForm {
  height: auto; /* Make the container expand based on content */
  display: flex; /* Use a flex container to center the form vertically */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center the form vertically */
  align-items: center; /* Center the form horizontally */
  padding: 1rem; /* Add some padding to prevent content from sticking to the edges */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-bg-active-dark-brown);
  border: 2px solid var(--color-bg-active-dark-brown);
  border-radius: 10px;
  background-color: var(--color-bg-active-sandstone);
}

#characterDisplay {
  height: auto; /* Make the container expand based on content */
  display: flex; /* Use a flex container to center the form vertically */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center the form vertically */
  align-items: center; /* Center the form horizontally */
  padding: 1rem; /* Add some padding to prevent content from sticking to the edges */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-bg-active-sandstone);
  border-radius: 10px;
  background-color: var(--color-ui-blue-green);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  width: 30%;
  z-index: 99;
}

.characterSelectButtons {
  background-color: var(--color-ui-lighter);
  font-family: "Cinzel", serif;
  margin-bottom: 10px;
}

.characterSelectButtons:hover {
  background-color: var(--color-bg-active-gold);
  font-family: "Cinzel", serif;
  margin-bottom: 10px;
}

.game-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-bg-radiant-gold);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* align center of sidebar*/
  margin-bottom: 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal form {
  background-color: #222;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
  border-radius: 5px;
}

.modal input,
.modal button {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #333;
  border: 1px solid #555;
  color: #eee;
}

#selectButton0,
#deleteButton0 {
  background-color: #444;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 2.5px;
}

.modal input:focus,
.modal button:focus {
  outline: none;
  border-color: #777;
}

.modal input::placeholder {
  color: #999;
}

.modal button {
  background-color: #444;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 2.5px;
}

.modal button:hover {
  background-color: #3d5565;
}

.modal-content {
  position: relative;
  background-color: #222;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;
}

.popup {
  position: fixed;
  margin-left: 250px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-ui-lighter);
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: var(--color-bg-active-gold);
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.close:hover {
  color: #fff;
}

.success-message {
  position: fixed;
  top: 50px;
  right: 20px;
  background-color: #4caf50;
  color: var(--color-main-text);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  background-color: transparent;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 1rem;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-active-gold);
  width: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar nav ul {
  flex-direction: column;
}

.sidebar nav ul li {
  margin: 0.25rem 0 0.25rem 0;
  font-size: 15px;
  max-width: 100%;
  cursor: pointer;
}

#page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

#page-content {
  display: none;
}

/* Character Creation Container */
.character-creation-container {
  height: auto; /* Make the container expand based on content */
  display: flex; /* Use a flex container to center the form vertically */
  flex-direction: column; /* Stack flex items vertically */
  justify-content: center; /* Center the form vertically */
  align-items: center; /* Center the form horizontally */
  padding: 1rem; /* Add some padding to prevent content from sticking to the edges */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-bg-active-dark-brown);
  border: 2px solid var(--color-bg-active-dark-brown);
  border-radius: 10px;
  background-color: var(--color-bg-active-sandstone);
}

.character-creation-container h1 {
  color: var(--color-bg-active-gold);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  margin-top: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.form-group label {
  margin-bottom: 5px;
}

.form-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Inputs and Select */
input[type="text"],
select {
  font-family: "Cinzel", serif;
  padding: 0 0 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
}

input[type="email"] {
  font-family: "Cinzel", serif;
  padding: 0 0 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  width: 100%;
}

input[type="color"] {
  margin-left: 5px;
  width: 50px;
  padding: 0;
}

input[type="password"] {
  font-family: "Cinzel", serif;
  padding: 0 0 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  width: 100%;
}

input[type="submit"] {
  font-family: "Cinzel", serif;
  padding: 0 0 20px 0;
  background-image: url(../assets/icons/ui-icons/2x/button\ 2_1@2x.png);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

/* Woodcutting styles */
.progress {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 5px;
  width: 100%;
  overflow: hidden;
}

.progress-fill {
  background-color: #4caf50;
  border-radius: 4px;
  height: 100%;
  width: 0%;
  transition: width ease-out;
}

.tree-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style-type: none;
}

.tree {
  background-color: var(--color-ui-lighter);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  display: inline;
}

.tree-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  background-color: var(--color-ui-lighter) !important;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tree:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 50%,
    transparent 100%
  );
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.tree:hover {
  background-color: var(--color-bg-active-gold);
  transform: scale(1.05);
}

.tree:hover:before {
  transform: translateY(0);
}

.woodcuttingContainer__label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cutTreeProgress {
  display: block;
  width: 100%;
  height: 0.8rem;
  border-radius: 1rem;
  appearance: none;
  background-color: var(--color-bg-active-gold);
}

.cutTreeProgress::-webkit-progress-bar {
  background-color: var(--color-ui-blue-green-transparent);
  border-radius: 1rem;
}

.cutTreeProgress::-webkit-progress-value {
  background-color: var(--color-bg-radiant-gold);
  border-radius: 1rem;
  transition: width 0.3s ease;
}

.cutTreeProgress::-moz-progress-bar {
  background-color: var(--color-bg-radiant-gold);
  border-radius: 1rem;
  transition: width 0.3s ease;
}

/* Appearance Options */
.appearance-options {
  display: flex;
  justify-content: space-between;
}

/* Create Character Button */
#create-character-button {
  background-color: var(--color-bg-light-hunter-green);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

#create-character-button:hover {
  background-color: #45a049;
}
