:root {
  --color-bg-radiant-gold: #ffc300;
  --color-bg-hover-gold: #eec903;
  --color-bg-active-gold: #d1a408;
  --color-bg-active-sandstone: #e6d8b6;
  --color-bg-active-khaki: #f0e68c;
  --color-bg-active-dark-brown: #654321;
  --color-ui-blue-green: #172429;
  --color-ui-blue-green-semi-transparents: #172429ce;
  --color-ui-blue-green-transparent: #17242969;
  --color-ui-lighter: #293a4e;
  --color-ui-lighter-lighter: #3c4b62;
  --color-ui-lighter-lighter-lighter: #4f5a76;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Cinzel", serif;
  color: var(--color-bg-active-sandstone);
  background-color: var(--color-ui-blue-green);
  background-image: url("/assets/images/backgrounds/welcome_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 3rem;
  color: var(--color-bg-radiant-gold);
  text-shadow: 2px 2px 0 var(--color-bg-active-gold);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-ui-lighter);
  color: white;
  cursor: pointer;
  width: 50%;
}

.auth-buttons button:hover {
  background-color: var(--color-bg-active-gold);
}

.auth-buttons button.active {
  background-color: var(--color-bg-active-gold);
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-shadow: black 0.1em 0.1em 0.2em;
  background-color: var(--color-ui-blue-green-semi-transparents);
  border-radius: 10px;
  text-align: center;
}

.vertical-divider {
  border-left: none;
  height: 90%;
  margin: 0 20px;
  width: 4px;
  border-radius: 50px;
  background: linear-gradient(
    to bottom,
    var(--color-bg-active-gold),
    transparent
  );
}

.news {
  flex-basis: 40%;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}

.news h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 0;
  color: var(--color-bg-active-sandstone);
  width: max-content;
}

.news ul {
  list-style: decimal;
  text-align: left;
  padding: 0 0 0 2rem;
  margin: 0;
}

.news li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

.about {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--color-bg-active-sandstone);
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0 1rem 0 0;
  margin-top: 0;
}

.auth-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 1rem 1rem 0 1rem;
}

.form {
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-bg-active-gold);
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--color-ui-lighter-lighter);
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: var(--color-bg-active-gold);
}

.hidden {
  display: none;
}

#error-message {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  color: red;
}

.footer {
  margin-top: 30px;
  text-align: center;
  color: var(--color-ui-lighter-lighter-lighter);
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: var(--color-main-text);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
